
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
p{
  margin: 0 !important;
}

a{
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
  color: #e73c17 !important;
}


ul{
  margin: 0;
  padding: 0 !important;
}
li{
  list-style-type: none;
}




.header-middle{
  padding: 0 0 20px ;
}
.home-six-wrapper .header-middle {
  padding: 36px 0;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 767px){
.header-search-box-two {
    min-width: 500px;
}
}

.header-search-box-two {
  align-items: center;
  border: 2px solid #f0f0f0;
  display: flex;
  margin: 0;
  width: 100%;

}
.header-search-box-two .form-control {
  border: none;
  border-radius: 0;
  height: 51px;
  padding-right: 15px;
}
.header-search-box .form-control {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  color: #353535;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  height: 55px;
  line-height: 56px;
  padding: 5px 55px 7px 29px;
  width: 100%;
}

.header-action-account {
  border-right: 1px solid #454545;
  color: #494343;
  font-weight: 500;
  line-height: 1;
  padding-right: 19px;
  margin-right: 20px;
  min-width: 134px;
}
.header-action-wishlist {
  color: #313131;
  font-size: 23px;
  line-height: 1;
  margin-right: 24px;
}
.header-action-wishlist:hover{
  color: #e73c17;
}
.header-action-account:hover{
  color: #e73c17;
}
.bg_color {
  background-color: #fafafa;
  border: solid #f0f0f0;
  border-width: 1px 0 1px 0;
}
.phone-item-action--two {
  border: solid #f0f0f0;
  border-width: 0 1px 0 1px;
  padding: 11px 48px 12px;
}
.phone-item-action {
  align-items: center;
  border-left: 1px solid #454545;
  display: inline-flex;
  padding: 11px 0 12px 20px;
}
.phone-item-icon {
  min-width: 32px;
  margin-right: 20px;
  margin-top: 1px;
}
.phone-item-content {
  font-weight: 500;
  line-height: 1;
}
.phone-item-content span {
  color: #323232;
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.phone-item-content a {
  color: #e73c17;
}
/* =========================================
     my sr=tyle
============================================ */

.logo{
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
}
.login_shop{
  text-align: right;
  line-height: 60px;
}
button.btn-src {
  background: #252525;
  width: 10%;
  height: 55px;
  color: #fff;
}
.header-wrapper{
  padding: 25px 0;
}
.nav-link{
  font-size: 16px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #252525 !important;
}
.nav-item{
  padding: 0 20px;
}
.navbar-nav .nav-link.active{
  color: #e73c17 !important;
}
.navbar-nav .nav-link:hover{
  color: #e73c17;
}



/* ====================================== footer */

.footer-main{
  background-color: #252525;
  padding: 80px 30px;
}
.content h3{
  color: #fff;
}
.f_list{
  padding: 20px 0 10px !important;
}
.f_list li{
  padding: 5px 0;
  color: #f2f2f2;
}
.f_list li a{
  color: #f2f2f2;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}
/* .f_list li a:first-child{
  text-transform: none;
} */
.f_list li a i{
  color: #e73c17;
  margin-right: 10px;
}
.f_list li .f_mail{
  color: #e73c17;
  text-transform: none;
}
.f_list li .f_mail:hover{
  color: #f8937d !important;
  text-transform: none;
}
.footer-bottom{
  background-color: #252525;
  text-align: center;
  color: #f2f2f2;
  padding: 30px 0 ; 
  border-top: 1px solid #494343;
}
.copyright a{
  color: #e73c17;
  font-weight: 600;
  letter-spacing: 1px;
}
.copyright i{
  color: #e73c17;
 
}